<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Beam Bloggers Webring</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/static/assets/app.css") %>"/>
    <link rel="alternate" type="application/rss+xml" href="<%= Routes.page_url(@conn, :rss) %>" />

    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/static/assets/app.js") %>"></script>
  </head>
  <body>
      <h1>Beam Bloggers Webring</h1>
      <p>If you have a blog that regularly covers Elixir, Erlang, the BEAM or any related topics do
        <a href="https://github.com/lawik/beambloggers">join the webring</a> by sending us a PR. If
        you want to follow our intrepid bloggers and discover new ones as they join you can
        <a href="<%= Routes.page_url(@conn, :rss) %>" target="_blank">subscribe to our RSS feed</a>
        which aggregates all of the below sites that offer RSS. You can always enjoy a <a href="<%= Routes.ring_url(@conn, :random) %>" target="_blank">random blog</a>.</p>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
  </body>
</html>
